<h1>{{ title }}</h1>

<div class="container">
  <gpt-ad
    adUnit="/35096353/pub-showcase"
    [sizes]="[
      [728, 90],
      [600, 300]
    ]"
    [forceSafeFrame]="true"
    [safeFrameConfig]="{
      sandbox: true,
      allowOverlayExpansion: true,
      allowPushExpansion: true,
      useUniqueDomain: true
    }"
    [collapseEmptyDivs]="true"
    (afterRefresh)="refreshed($event)"
  ></gpt-ad>

  <gpt-video
    [sizes]="[640, 480]"
    [adActions]="adInput"
    (adEvents)="adEvent($event)"
    adTagUrl="https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator="
  >
    <video
      class="video-js"
      controls
      preload="auto"
      data-setup="{}"
      poster="https://img.rnudah.com/images/77/7717002808.jpg"
    >
      <source src="//s0.2mdn.net/4253510/google_ddm_animation_480P.mp4" />
    </video>
    <div class="ad-container" (click)="adInput.emit('play')"></div>
  </gpt-video>
</div>
